.home{
  display: flex;
  padding: 2rem 2rem;
  height: 70vh;
}

.home img{
  border: 5px solid rgb(46, 89, 182);
  border-radius: 50%;
}

.heading{
  font-size: 2rem;
}

.home_left{
  /* background: red; */
  width: 65%;
  padding-top: 5rem;
}

.home_left p{
  margin-top: 1.5rem;
  width: 70%;
}

.home_left h2{
  letter-spacing: 1px;
  text-align: start;
  width: 80%;
 
  
}


.home_right{
  display: flex;
  flex: 1;
  /* justify-content: center; */
  align-items: center;
}
.row_1{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.row_2{
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
}

.btn{
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 30px;
  font-size: 20px;
  background: none;
  border: 2px solid rgb(46, 89, 182);
}

.btn:hover{
  cursor: pointer;
  background-color: rgb(46, 89, 182);
  color: #f2f2f2;
}




